:root {
  --primary-title-color: #fff;
  --primary-text-color: #999;
  --secondary-title-color: #323232;
  --secondary-text-color: #fff;
  --accent-color: #4985ff;
}

body {
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.container{
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  background: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  width: 200px;
  height: 45px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.sub-title {
color: #000000;
font-weight: 600;
font-size: 18px;
line-height: 22px;
}


.section-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--primary-text-color);
}
.section-link {
  font-size: 16px;
  line-height: 1.25;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}

.header {
  background-color: violet;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #A1A1A1;
}

.header-item:not(:last-child){
  margin-right: 40px;
}


.header-list{
  display: flex;
  justify-content: flex-end;

}

.hero {
  background-color: violet;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 220px;
  padding-bottom: 335px;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--secondary-text-color);
  max-width: 830px;
  margin-bottom: 50px;
}

.mobile-title {
  text-align: center;
  color: var(--secondary-title-color);
}
.mobile-text {
  text-align: center;
}
.mobile-item-text {
  font-size: 14px;
}
.mobile-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000;
}

/*  Section standarts */
.standarts-title {
  color: var(--secondary-title-color);
}
.count {
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
}


/* works */

.works {
  background-color: rgb(102, 35, 102);
}

.works-title {
  color: var(--primary-title-color);
}

.works-sub-title span{
  color: var(--accent-color);
}