:root {
  --primary-title-color: #fff;
  --primary-text-color: #999;
  --secondary-title-color: #323232;
  --secondary-text-color: #fff;
  --accent-color: #4985ff;
}

body {
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  background: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}
.section-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--primary-text-color);
}
.section-link {
  font-size: 16px;
  line-height: 1.25;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}

.header {
  background-color: violet;
}

.hero {
  background-color: violet;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--secondary-text-color);
}

.mobile-title {
  text-align: center;
  color: var(--secondary-title-color);
}
.mobile-text {
  text-align: center;
}
.mobile-item-text {
  font-size: 14px;
}
.mobile-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000;
}

/*  Section standarts */
.standarts-title {
  color: var(--secondary-title-color);
}
.count {
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
}
