:root {
  --primary-title-color: #fff;
  --primary-text-color: #999;
  --secondary-title-color: #323232;
  --secondary-text-color: #fff;
  --accent-color: #4985ff;
}

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.mobile {
  padding-top: 110px;
  padding-bottom: 105px;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  background: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  width: 200px;
  height: 45px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.sub-title {
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.section-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--primary-text-color);
}
.section-link {
  font-size: 16px;
  line-height: 1.25;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}

.header {
  background-color: violet;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #a1a1a1;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-list {
  display: flex;
  justify-content: flex-end;
}

.hero {
  background-color: violet;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 220px;
  padding-bottom: 335px;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--secondary-text-color);
  max-width: 830px;
  margin-bottom: 50px;
}
.mobile-list {
  display: flex;
  margin-bottom: 50px;
}
.mobile-item {
  max-width: 353px;
  margin-right: 30px;
}
.mobile-item:last-child {
  margin-right: 0;
}
.mobile-title {
  text-align: center;
  color: var(--secondary-title-color);
  max-width: 740px;
  margin: 0 auto 50px;
}
.mobile-text {
  text-align: center;
  max-width: 730px;
  margin: 0 auto 70px;
}
.mobile-item-text {
  font-size: 14px;
}
.mobile-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000;
}
.mobile-button {
  display: block;
  margin: 0 auto;
}
/*  Section standarts */

.standarts {
  padding: 100px 0 70px 0;
}

.standarts-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 90px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 70px;
}

.standarts-content {
  max-width: 489px;
}

.standarts-title {
  color: var(--secondary-title-color);
  margin-bottom: 40px;
}

.standarts-text {
  margin-bottom: 30px;
}

.standarts-list {
  display: flex;
  justify-content: space-evenly;
}

.count {
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
}

/* works */

.works {
  background-color: rgb(102, 35, 102);
  padding: 100px 0 85px 0;
}

.works-title {
  color: var(--primary-title-color);
}

.works-title-text {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: 85px;
}

.border {
  /* width: 100%;
  height: 1px;
  background-color: #e0e0e0; */

  border-bottom: 1px solid #e0e0e0;
}

.works-item {
  flex-basis: calc((100% / 3) - 30px);
  margin-left: 30px;
}

.works-img {
  display: block;
  margin-bottom: 30px;
  border-radius: 10px;
}

.works-sub-title span {
  color: var(--accent-color);
}

.works-sub-title {
  margin-bottom: 30px;
}

.wroks-item-text {
  margin-bottom: 30px;
}

/* ------PROJECTS------- */
.projects {
  padding-top: 100px;
  padding-bottom: 130px;
}
.projects-title {
  color: var(--secondary-title-color);
  text-align: center;
  margin-bottom: 50px;
}
.projects-text {
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: 50px;
}

.projects-item {
  flex-basis: calc((100% / 4) - 30px);
  margin-left: 30px;
}

.projects-button {
  margin: 0 auto;
  display: block;
}
