.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--secondary-text-color);
    background: var(--accent-color);
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: none;
    width: 200px;
    height: 45px;
    cursor: pointer;
    &:hover,
    &:focus {
        color: var(--accent-color);
        background-color: transparent;
        border: 1px solid var(--accent-color);
    }
}
